@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

html,
body {
  background-color: black;
  color: white;
}

.active {
  background-color: #3d3d3e;
  border-color: white;
}

select,
input,
textarea {
  background-color: #3d3d3e;
  color: white;
  border-color: white;
}

* {
  font-family: Outfit;
}
